<h5>Template: <small>Switches</small></h5>
<hr>
<form #switchForm = "ngForm">

  <!-- Radio  -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="M"
               required
               [(ngModel)]="persona.genero"
               name="radioGenero"
               id="radioMasculino">

        <label class="form-check-label"
               for="radioMasculino">
          Masculino
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="F"
               required
               [(ngModel)]="persona.genero"
               name="radioGenero"
               id="radioFemenino">

        <label class="form-check-label"
               for="radioFemenino">
          Femenino
        </label>

      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input class="form-check-input"
               type="checkbox"
               name="notificaciones"
               [(ngModel)]="persona.notificaciones"
               id="flexSwitchCheckChecked">

        <label class="form-check-label"
               for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
      </div>
    </div>
  </div>


  <!-- CheckBox -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               name="termCond"
               required
               [(ngModel)]="termCond"
               id="defaultCheck1">

        <label class="form-check-label" for="defaultCheck1">
          Términos y condiciones
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button  type="button"
               [disabled]="switchForm.invalid"
               class="btn btn-primary float-end">
        Enviar
      </button>
    </div>
  </div>


</form>


<h5>Valor del formulario</h5>
<pre>{{ switchForm.value | json }}</pre>

<h5>Persona</h5>
<pre>{{ persona | json }}</pre>

<h5>Valido formulario</h5>
<pre>{{ switchForm.valid }}</pre>

<h5>Terminos y condiciones</h5>
<pre>{{ switchForm.controls?.termCond?.errors | json }}</pre>

