<h5>Validaciones Reactivas</h5>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off">

      <!-- Nombres -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del usuario">
        </div>

        <span class="form-text text-danger">
          Debe ser en formato de nombre y apellido
        </span>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email del usuario">
        </div>

        <!-- <span class="form-text text-danger">
          Debe ser en formato de nombre y apellido
        </span> -->
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Username:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Username del usuario">
        </div>

        <!-- <span class="form-text text-danger">
                Debe ser en formato de nombre y apellido
              </span> -->
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Password:</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Password de su cuenta">
        </div>

        <!-- <span class="form-text text-danger">
                Debe ser en formato de nombre y apellido
              </span> -->
      </div>

      <!-- Confirmar Password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar:</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Confirmar su password">
        </div>

        <!-- <span class="form-text text-danger">
                      Debe ser en formato de nombre y apellido
                    </span> -->
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
</div>
