<div>
  <h5>Template Forms</h5>
  <hr>

  <ul class="list-group">
    <li *ngFor="let item of templateMenu" style="cursor: pointer;"
      class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active" >
      {{ item.texto }}
    </li>
  </ul>

  <h5 class="mt-5">Reactive Forms</h5>
  <hr>

  <ul class="list-group">
    <li *ngFor="let item of reactiveMenu"
      class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active" >
      {{ item.texto }}
    </li>
  </ul>

  <h5 class="mt-5">Validaciones</h5>
<hr>

<ul class="list-group">
  <li *ngFor="let item of authMenu"
    class="list-group-item" [routerLink]="item.ruta" routerLinkActive="active" >
    {{ item.texto }}
  </li>
</ul>
</div>
